body {
    color: #333;
    font: 1.0em normal Consolas, sans-serif;
}

span {
    font-style: italic;
}

pre {
    color: #333;
    background-color: #eee;
    font-family: monospace;
    padding: 4px;
    overflow: auto;
    white-space: pre-wrap;
    word-wrap: break-word;
}

input {
    margin-right: 15px;
}

canvas {
    margin: 10px;
}

h1.md-toolbar-tools {
    font-size: 1.5em;
}
