body {
    color: #ddd;
    background-color: #333;
    font: 1.0em normal Consolas, Meiryo, sans-serif;
    margin: 20px;
}

span {
    font-style: italic;
}

pre {
    color: #333;
    background-color: #eee;
    padding: 4px;
    overflow: auto;
    white-space: pre-wrap;
    word-wrap: break-word;
}

input {
    margin-right: 10px;
}
button {
    font: 2em normal Consolas, sans-serif;
    padding: 4px 10px 4px 10px;
    margin-left: 10px;
}

#content {
    font-size: 1.0em;
}
